<%= form_for(@recipe, :remote => true,) do |f| %>

    <div id="errors">
    </div>

    <% if @recipe.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

          <ul>
            <% @recipe.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :value => 'Kakku' %>
    </div>

    <div class="field">
      <%= f.label :amount %>
      <%= f.number_field :amount, :value => 4 %>
    </div>

    <div class="field">
      <%= f.label :duration %>
      <%= f.number_field :time_h, :value => 1 %> h
      <%= f.number_field :time_min, :value => 30 %> min
    </div>

    <div id="subsections">

    <div id="subsection1" class="subsection">

      <%= fields_for @recipe.subsections do |s_f| %>
          <div class="field">
            Section <br>
            <%= s_f.text_field :title, :id => "subsection_title1", :class => "subsection_title", :value => 'Pohja' %>
          </div>

          <div id="ingredients1" class="ingredients">

            <%= fields_for @recipe.subsection_ingredients do |si_f| %>
                <%= fields_for @recipe.ingredients do |i_f| %>
                    <div class="row">
                      <div class="col-md-1">
                        <div class="field">
                          Amount <br>
                          <%= si_f.text_field :amount, :value => 5 %>
                        </div>
                      </div>
                      <div class="col-md-1">
                        <div class="field">
                          Unit <br>
                          <%= si_f.text_field :unit, :value => 'dl' %>
                          <%#= si_f.select :unit, options_for_select(@units) %>
                        </div>
                      </div>
                      <div class="col-md-1">
                        <div class="field">
                          Ingredient <br>
                          <%= i_f.text_field :name, :value => 'jauho' %>
                        </div>
                      </div>
                    </div> <!-- row -->
                <% end %>
            <% end %>
          </div> <!-- ingredients -->
          <button type="button" id="addI1" class="btn btn-default i">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ingredient
          </button>
      <% end %> <%# subsection%>
    </div> <!-- subsection -->
    </div> <!-- subsections -->
    <button type="button" id="addS" class="btn btn-default">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Section
    </button>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, :value => 'Sekoita' %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>