<%= form_for(recipe, :remote => true,) do |f| %>
    <% if recipe.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

          <ul>
            <% recipe.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, :value => 'Kakku' %>
    </div>

    <div class="field">
      <%= f.label :amount %>
      <%= f.number_field :amount, :value => 4 %>
    </div>

    <div class="field">
      <%= f.label :duration %>
      <%= f.number_field :time_h, :value => 30 %> h
      <%= f.number_field :time_min, :value => 0 %> min
    </div>

    <% if false %>
        <% x = 0 %>
        <% recipe.subsections.each do |section| %> <%# subsection each%>
            <% x = x+1 %>

            <%= f.fields_for section do |s_f| %> <%# subsection form%>
                <div class="field">
                  Section <br>
                  <%= s_f.text_field :title, :value => "Pohja#{x}", multiple: true %>
                </div>
            <% end %> <%# subsection form%>

            <% y = 0 %>


        <% end %><%# subsection each%>
    <% end %>

    <%= fields_for recipe.subsections do |s_f| %>
        <div class="field">
          Section <br>
          <%= s_f.text_field :title, :value => 'Pohja' %>
        </div>

        <div class="row">
          <%= fields_for recipe.subsection_ingredients do |si_f| %>
              <%= fields_for recipe.ingredients do |i_f| %>
                  <div class="col-md-1">
                    <div class="field">
                      Amount <br>
                      <%= si_f.text_field :amount, :value => 5 %>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <div class="field">
                      Unit <br>
                      <%= si_f.text_field :unit, :value => 'dl' %>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <div class="field">
                      Ingredient <br>
                      <%= i_f.text_field :name, :value => 'jauho' %>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, :value => 'Sekoita' %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>