<h1>Recipes</h1>
Arrange by <%= link_to 'name', recipes_path(order:"name") %> | <%= link_to 'last added', recipes_path(order:"added") %>
<% @recipes.each do |recipe| %>
    <h3><%= link_to recipe.name, recipe %></h3>
    <%= recipe.amount %> persons, <%= recipe.duration_to_s %> <br><br>
<% end %>

