<p id="notice"><%= notice %></p>

<h2><%= @recipe.name %></h2>
Recipe by: <%= link_to @recipe.user, @recipe.user %> <br><br>

<%= @recipe.amount %> persons, <%= @recipe.duration_to_s %> <br><br>

<h4>Ingredients</h4>


<% @recipe.subsections.each do |s| %>
    <strong><%= s.title %></strong> <br>
    <ul>
    <% s.subsection_ingredients.each do |si| %>
        <li><%= si %></li>
    <% end %>
    </ul>
<% end %>


<h4>Instructions</h4>
<ul>
<%= @recipe.description %>
</ul>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Destroy', @recipe, method: :delete, data: {confirm: 'Are you sure?'} %> |
<%= link_to 'Back', recipes_path %>
