<h2><%= @recipe.name %></h2>

<div class="row">

  <div class="col-md-6">
    Recipe by: <%= link_to @recipe.user, @recipe.user %> <br><br>
    <%= @recipe.amount %> persons, <%= @recipe.duration_to_s %>
  </div>

  <div class="col-md-6">
    <% @recipe.recipe_categories.each do |rc| %>
        <li><%= link_to rc.category.name, rc.category %> <%= link_to 'X', rc, method: :delete if current_user %></li>
    <% end %>
    <br>
    <%= link_to 'add category', new_recipe_category_path if current_user %>
  </div>
</div>

<h4>Ingredients</h4>


<% @recipe.subsections.each do |s| %>
    <% unless s.title.eql? "" %>
        <strong><%= s.title %></strong> <br>
    <% end %>
    <ul>
      <% s.subsection_ingredients.each do |si| %>
          <li><%= si %></li>
      <% end %>
    </ul>
<% end %>


<h4>Instructions</h4>
<ul>
  <%= @recipe.description %>
</ul>

<% if current_user == @recipe.user %>
    <%= link_to 'Edit', edit_recipe_path(@recipe), class:"btn btn-primary" %> |
    <%= link_to 'Destroy', @recipe, method: :delete, data: {confirm: 'Are you sure?'}, class:'btn btn-danger' %>
<% end %>
